/* Setting font family for the entire body */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: 'Lato', sans-serif;
}
/* Styling for general elements */
.card-imagem{
    width: clamp(20rem, 33vw, 100%);
    object-fit: cover;
    overflow: hidden;
}
#hero-row{
    margin-top: 12%;
}
.text-box{
    width: 45%;
}
#img-hero-row-container{
    width: 50%;
}
#img-hero-row{
    max-width: 100vh;
    max-height: 100vh;
    width: 100%;
}
.carousel-img{
    max-height: 100vh;
    object-fit: cover;
}
#map{
    width: 50%;
}
/* Media query for screens with a maximum width of 425px */
@media (max-width: 425px) {
    #hero-row{
        margin-top: 25%;
    }
    #img-hero-row-container{
        width: 100%;
    }
    .text-box{
        width: 90vw;
    }
    #map{
        width: 100%;
    }
}
/* Media query for screens with a width between 425px and 700px */
@media (min-width: 425px) and (max-width: 700px) {
    #hero-row{
        margin-top: 20%;
    }
    .text-box{
        width: 100%;
        text-align: center;
    }
    #img-hero-row-container{
        width: 100%;
    }
    #map{
        width: 100%;
    }
}